
@{
    ViewData["Title"] = "TeachMe";
}

    <div class="landing">

        <div class="hero" style="background-image: linear-gradient(180deg,rgba(25, 66, 88,0.85),rgba(50, 183, 174, 0.95)),url('../Images/fondo.jpg')">

            <div class="container">
                <h1 class="b20-1">Elige la mejor tutoria con nuestros excelentes docentes</h1>

                <div class="row b20-3" style="margin-top: 40px;">
                    <div class="col-md-10 col-md-offset-1">

                        <form id="form-search" method="get" onkeypress="return event.keyCode !== 13;" asp-controller="Home" asp-action="Busqueda" style="margin-bottom: 0px;">

                            <div class="form-group">
                                <input type="text" name="curso"class="form-control input-md subject-search-input" id="subject-search" placeholder="¿Qué asignatura?">
                            </div> <div class="form-group">
                                <input type="text" name="lugar" class="form-control input-md subject-search-input" id="subject-search" placeholder="¿Qué ciudad te encuenteras?">
                            </div>

                            <span class="input-group-btn">
                                <button class="btn btn-default btn-search" type="submit">
                                    <span>Buscar</span>
                                </button>
                            </span>
                        </form>
                    </div>
                </div>
                <div class="col-md-12 features">
                    <div class="col-md-4">
                        <img src="~/Images/birrete.png" alt="birrete universitario">
                        <h4>Nuestros tutores tienen una amplia carrera profesional y con una gran experiencia en educación </h4>
                    </div>
                    <div class="col-md-4">
                        <img src="~/Images/diploma.png" alt="emblema aprobados clases particulares">
                        <h4>Miles de estudiantes y alumnos forman parte de una excelente preparación gracias a nosotros </h4>
                    </div>
                    <div class="col-md-4">
                        <img src="~/Images/like.png" alt="mano valoraciones positivas">
                        <h4>Nuestro sistema de enseñanza nos respalda y nuestros alumnos dan fe de ello</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="chat">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 title-container">
                        <h2>Te brindamos la mejor tutoria estudiantil:</h2>
                    </div>
                    <div class="col-md-6 col-xs-12 no-padding">
                        <div class="col-md-5 col-xs-4 profile">
                            <img src="~/Images/mujer1.jpg" alt="">
                            <p><strong>María</strong></p>
                        </div>

                        <div class="col-md-7 col-xs-8 text">
                            <div class="student">
                                <div class="separator-vertical"></div>
                                <p><strong>Busco profesor de inglés para mi hijo</strong></p>
                                <p>• Que sea Magister en Ingles</p>
                                <p>• Que dicte clases a domicilio</p>
                                <p>• Que sea mujer </p>
                                <p>• Libre los martes y jueves por la tarde</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" style="padding-top: 50px;">
                        <div class="col-md-7 col-xs-7 text">
                            <div class="tutor">
                                <p><strong>Hola María, yo podría</strong></p>
                                <p>Trabajé en Londres • </p>
                                <p>
                                    Soy Magister en Educación •
                                </p>
                                <p>
                                    ¿Empezamos este jueves? •
                                </p>
                                <div class="separator-vertical"></div>
                            </div>
                        </div>
                        <div class="col-md-5 col-xs-5 profile">
                            <img src="~/Images/mujer2.jpg" alt="Laura: profesora particular en TeachMe">
                            <p style="margin-bottom: 0"><strong>Lorena</strong></p>

                        </div>
                    </div>
                    <div class="col-md-12" style="display: inline-block">
                        <h3>En <strong>Nuestra empresa</strong> puedes personalizar tu búsqueda por asignatura, nivel, localización...</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="subjects">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 title-container">
                        <h2>¿Qué te gustaría aprender hoy?</h2>
                    </div>
                    <div class="col-md-12 testimonies-container">
                        <div class="col-md-4 col-xs-6">
                            <div class="text">
                                <p>“Quiero aprobar matemáticas”</p>
                            </div>
                            <img src="~/Images/hombre3.jpg" alt="Pedro: alumno clases particulares en TeachMe">
                            <p><strong>Pedro</strong></p>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <div class="text">
                                <p>“Quiero mejorar mi inglés”</p>
                            </div>
                            <img src="~/Images/mujer5.jpeg" alt="Natalia: alumna clases particulares en TeachMe">
                            <p><strong>Natalia</strong></p>
                        </div>
                        <div class="col-md-4 hide-xs">
                            <div class="text">
                                <p>“Quiero mejorar en historia del Perú”</p>
                            </div>
                            <img src="~/Images/hombre2.jpg" alt="Norma: alumna clases particulares en TeachMe">
                            <p><strong>Sebas</strong></p>
                        </div>
                    </div>
                    <div class="col-md-12 subjects-container">
                        <h3>Tenemos a los mejores tutores de cada asignatura</h3>
                        <div class="col-md-12 levels-container no-padding">
                            <div class="col-md-2 col-md-offset-1 col-xs-6 no-padding">
                                <a href=""><p>Primaria</p></a>
                                <ul>
                                    <li><a href="">Matemáticas</a></li>
                                    <li><a href="">Calculo de v.</a></li>
                                    <li><a href="">Inglés</a></li>
                                    <li><a href="">Ciencias sociales</a></li>
                                    <li><a href="">Historia del Perú</a></li>
                                    <li class="all" data-group-id="bc22e177-5789-4a07-bc6b-7a7eebfe7b64"><a><strong>Ver todas</strong></a></li>
                                </ul>

                            </div>
                            <div class="col-md-2 col-xs-6 no-padding ">
                                <a href=""><p>Secundaria</p></a>
                                <ul>
                                    <li><a href="">Matemáticas</a></li>
                                    <li><a href="">Física</a></li>
                                    <li><a href="">Refuerzo</a></li>
                                    <li><a href="">Química</a></li>
                                    <li><a href="">Inglés</a></li>
                                    <li class="all" data-group-id="ff2a045c-9153-433e-9e4c-57f86f20dd68"><a><strong>Ver todas</strong></a></li>
                                </ul>
                            </div>
                            <div class="col-md-2 col-xs-6 no-padding">
                                <a href=""><p>Bachillerato</p></a>
                                <ul>
                                    <li><a href="">Matematica para Ingeniería</a></li>
                                    <li><a href="">Fisica Cuantica</a></li>
                                    <li><a href="">Preparación de Tesis</a></li>
                                    <li><a href="">Investigación de Proyectos</a></li>
                                    <li><a href="">Inglés para Ingeniería</a></li>
                                    <li class="all" data-group-id="c3ac2431-cb76-477a-a29d-f1563d875013"><a><strong>Ver todas</strong></a></li>
                                </ul>
                            </div>
                            <div class="col-md-2 col-xs-6 no-padding">
                                <a href=""><p>Idiomas</p></a>
                                <ul>
                                    <li><a href="">Inglés</a></li>
                                    <li><a href="">Español</a></li>
                                    <li><a href="">Alemán</a></li>
                                    <li><a href="">Francés</a></li>
                                    <li><a href="">Italiano</a></li>
                                    <li class="all" data-group-id="a2a74675-ebac-4563-8eb0-78678a8ded98"><a><strong>Ver todas</strong></a></li>
                                </ul>
                            </div>
                            <div class="col-md-2 col-xs-6 no-padding">
                                <a href=""><p>Talleres de Música</p></a>

                                <ul>

                                    <li><a href="">Guitarra</a></li>
                                    <li><a href="">Piano</a></li>
                                    <li><a href="">Canto</a></li>
                                    <li><a href="">Violín</a></li>
                                    <li><a href="">Música general</a></li>
                                    <li class="all" data-group-id="b30852b8-cfe3-4efc-bcaf-ac0730a03948"><a><strong>Ver todas</strong></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="comments">
            <div class="container">
                <div class="row">
                    <h2>Miles de alumnos ya han aprobado gracias a nuestros profesores</h2>
                </div>

                <div class="col-md-12 comments-container">
                    <div class="col-md-6 col-xs-12">
                        <div class="col-md-6 col-xs-6 profile">
                            <img src="~/Images/hombre4.jpg" alt="Thiago: profesor particular en TeachMe">
                            <p>Thiago</p>

                        </div>
                        <div class="col-md-6 col-xs-6 profile">
                            <img src="~/Images/mujer4.jpeg" alt="Paola: alumna clases particulares en TeachMe">
                            <p>Cinthy</p>
                        </div>
                        <div class="col-md-12 comment">
                            <p class="text">"¡Excelente! Gracias a Thiago he aprobado Calculo Financiero, explica muy bien y enseña ejercicios prácticos", <strong>Cinthy</strong></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="col-md-6 col-xs-6 profile">
                            <img src="~/Images/mujer3.jpg" alt="Jenny: profesora particular en TeachMe">
                            <p>Jenny</p>

                        </div>
                        <div class="col-md-6 col-xs-6 profile">
                            <img src="~/Images/mujer1.jpg" alt="Nicolle: alumna clases particulares en TeachMe">
                            <p>Nicolle</p>
                        </div>
                        <div class="col-md-12 comment">
                            <p class="text">"Jenny es una excelente profesora en Ingles, gracias a ella obtuve mi certificación. La recomiendo, muy buena.", <strong>Nicolle</strong></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

    <div id="snackbar">Mensaje</div>

