
@{
    ViewData["Title"] = "TeachMe";
}

    <div class="landing">

        <div class="hero" style="background-image: url('../Images/fondo.jpg')">

            <div style="background: rgba(0,0,0,.5)">
                <div class="container">
                    <h1 class="b20-1">Elige la mejor tutoría con nuestros excelentes docentes</h1>

                    <div class="row b20-3" style="margin-top: 40px;">
                        <div class="col-md-10 col-md-offset-1">

                            <form id="form-search" method="get" onkeypress="return event.keyCode !== 13;" asp-controller="Home" asp-action="Busqueda" style="margin-bottom: 0px;">

                                <div class="form-group">
                                    <input type="text" name="curso" class="form-control input-md subject-search-input" id="subject-search" placeholder="¿Qué asignatura?">
                                </div> <div class="form-group">
                                    <input type="text" name="lugar" class="form-control input-md subject-search-input" id="subject-search" placeholder="¿Qué ciudad te encuenteras?">
                                </div>

                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-search" type="submit">
                                        <span>Buscar</span>
                                    </button>
                                </span>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12 features">
                        <div class="col-md-4">
                            <img src="~/Images/birrete.png" alt="birrete universitario">
                            <h4>Nuestros tutores tienen una amplia carrera profesional y con una gran experiencia en educación </h4>
                        </div>
                        <div class="col-md-4">
                            <img src="~/Images/diploma.png" alt="emblema aprobados clases particulares">
                            <h4>Miles de estudiantes y alumnos forman parte de una excelente preparación gracias a nosotros </h4>
                        </div>
                        <div class="col-md-4">
                            <img src="~/Images/like.png" alt="mano valoraciones positivas">
                            <h4>Nuestro sistema de enseñanza nos respalda y nuestros alumnos dan fe de ello</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="chat">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 title-container">
                        <h2>Te brindamos la mejor tutoria estudiantil:</h2>
                    </div>
                    <div class="col-md-6 col-xs-12 no-padding">
                        <div class="col-md-5 col-xs-4 profile">
                            <img src="~/Images/mujer1.jpg" alt="">
                            <p><strong>Susan</strong></p>
                        </div>

                        <div class="col-md-7 col-xs-8 text">
                            <div class="student">
                                <div class="separator-vertical"></div>
                                <p><strong>Busco profesor de inglés para mi hermanito</strong></p>
                                <p>• Que dicte clases a domicilio</p>
                                <p>• Que tenga experiencia</p>
                                <p>• Libre los Lunes y Viernes por la tarde</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" style="padding-top: 50px;">
                        <div class="col-md-7 col-xs-7 text">
                            <div class="tutor">
                                <p><strong>Qué tal Susan, yo podría ayudarte</strong></p>
                                <p>Docente desde hace 4 años•</p>
                                <p>Trabajé en Canadá • </p>                                
                                <p>
                                    ¿Cuándo empezamos? •
                                </p>
                                <div class="separator-vertical"></div>
                            </div>
                        </div>
                        <div class="col-md-5 col-xs-5 profile">
                            <img src="~/Images/mujer2.jpg" alt="Laura: profesora particular en TeachMe">
                            <p style="margin-bottom: 0"><strong>Lorena</strong></p>

                        </div>
                    </div>
                    <div class="col-md-12" style="display: inline-block">
                        <h3>En <strong>Nuestra empresa</strong> puedes personalizar tu búsqueda por nivel, localización...</h3>
                    </div>
                </div>
            </div>
        </div>

        
            <div class="subjects" >
                <div style="background: rgba(0,0,0,.5); width:100%; height: 520px; padding-top: 70px; padding-bottom: 70px;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 title-container">
                                <h2>¿Qué te gustaría aprender hoy?</h2>
                            </div>
                            <div class="col-md-12 subjects-container">
                                <div class="col-md-12 levels-container no-padding">
                                    <div class="col-md-2 col-md-offset-1 col-xs-6 no-padding">
                                        <a href=""><p>Primaria</p></a>
                                        <ul>
                                            <li><a href="">Matemáticas</a></li>
                                            <li><a href="">Calculo de v.</a></li>
                                            <li><a href="">Inglés</a></li>
                                            <li><a href="">Ciencias sociales</a></li>
                                            <li><a href="">Historia del Perú</a></li>
                                            <li class="all"><a><strong>Ver todas</strong></a></li>
                                        </ul>

                                    </div>
                                    <div class="col-md-2 col-xs-6 no-padding ">
                                        <a href=""><p>Secundaria</p></a>
                                        <ul>
                                            <li><a href="">Matemáticas</a></li>
                                            <li><a href="">Física</a></li>
                                            <li><a href="">Refuerzo</a></li>
                                            <li><a href="">Química</a></li>
                                            <li><a href="">Inglés</a></li>
                                            <li class="all"><a><strong>Ver todas</strong></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-2 col-xs-6 no-padding">
                                        <a href=""><p>Bachillerato</p></a>
                                        <ul>
                                            <li><a href="">Matematica para Ingeniería</a></li>
                                            <li><a href="">Fisica Cuantica</a></li>
                                            <li><a href="">Preparación de Tesis</a></li>
                                            <li><a href="">Investigación de Proyectos</a></li>
                                            <li><a href="">Inglés para Ingeniería</a></li>
                                            <li class="all"><a><strong>Ver todas</strong></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-2 col-xs-6 no-padding">
                                        <a href=""><p>Idiomas</p></a>
                                        <ul>
                                            <li><a href="">Inglés</a></li>
                                            <li><a href="">Español</a></li>
                                            <li><a href="">Alemán</a></li>
                                            <li><a href="">Francés</a></li>
                                            <li><a href="">Italiano</a></li>
                                            <li class="all"><a><strong>Ver todas</strong></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-2 col-xs-6 no-padding">
                                        <a href=""><p>Talleres de Música</p></a>

                                        <ul>

                                            <li><a href="">Guitarra</a></li>
                                            <li><a href="">Piano</a></li>
                                            <li><a href="">Canto</a></li>
                                            <li><a href="">Violín</a></li>
                                            <li><a href="">Música general</a></li>
                                            <li class="all"><a><strong>Ver todas</strong></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="comments">
            <div class="container">
                <div class="row">
                    <h2>Miles de alumnos ya han aprobado gracias a nuestros profesores</h2>
                </div>

                <div class="col-md-12 comments-container">
                    <div class="col-md-6 col-xs-12">
                        <div class="col-md-6 col-xs-6 profile">
                            <img src="~/Images/hombre4.jpg" alt="Thiago: profesor particular en TeachMe">
                            <p>Thiago</p>
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>                            
                        </div>
                        <div class="col-md-6 col-xs-6 profile">
                            <img src="~/Images/mujer4.jpeg" alt="Paola: alumna clases particulares en TeachMe">
                            <p>Cinthy</p>
                        </div>
                        <div class="col-md-12 comment">
                            <p class="text">"¡Excelente! Gracias a Thiago he aprobado Calculo Financiero, explica muy bien y enseña ejercicios prácticos", <strong>Cinthy</strong></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="col-md-6 col-xs-6 profile">
                            <img src="~/Images/mujer3.jpg" alt="Jenny: profesora particular en TeachMe">
                            <p>Jenny</p>
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i>
                        </div>
                        <div class="col-md-6 col-xs-6 profile">
                            <img src="~/Images/mujer6.jpeg" alt="Nicolle: alumna clases particulares en TeachMe">
                            <p>Nicolle</p>
                        </div>
                        <div class="col-md-12 comment">
                            <p class="text">"Jenny es una excelente profesora en Ingles, gracias a ella obtuve mi certificación. La recomiendo, muy buena.", <strong>Nicolle</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

    <div id="snackbar">Mensaje</div>

