@{
    ViewData["Title"] = "Login";
}

@model TeachMeNET.Models.Entities.InicioSesionModel

<div class="cuerpo">
    <div class="caja-log">
        <form asp-controller="Usuario" asp-action="Login" method="post">
            <div asp-validation-summary="All" class="text-danger">
                @Html.ValidationSummary()
            </div>
            <h1>Login</h1>
            <div class="caja-text">
                <i class="fas fa-user"></i>
                <input asp-for="Email" placeholder="Email" />
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
            
            <div class="caja-text">
                <i class="fas fa-lock"></i>
                <input asp-for="Password" placeholder="Password" />
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
            
            <button type="submit" class="bttn">Ingresar</button>

        </form>
    </div>
</div>