
@{
    ViewData["Title"] = "Perfil como Alumno";
}

<div class="text-center mt-5">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12 mt-5">
                <section>
                    <form asp-controller="Usuario" asp-action="Login" method="post">
                        
                        <h4>Mi Perfil</h4>
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Iniciar sesi&oacute;n</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>