@model User

@{
    ViewData["Title"] = "Registro";
}


<div class="text-center mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section>
                    <form asp-controller="Usuario" asp-action="Registro" method="post">
                        <h4>Registrarse</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger">
                            @Html.ValidationSummary()
                        </div>
                        

                        <div class="form-group text-left">
                            <label asp-for="UserName">UserName</label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="form-group text-left">
                            <label asp-for="Name1">Nombre</label>
                            <input asp-for="Name1" class="form-control" />
                            <span asp-validation-for="Name1" class="text-danger"></span>
                        </div>

                        <div class="form-group text-left">
                            <label asp-for="LastName1">Apellido</label>
                            <input asp-for="LastName1" class="form-control" />
                            <span asp-validation-for="LastName1" class="text-danger"></span>
                        </div>

                        <div class="form-group text-left">
                            <label asp-for="Input.Email">Correo</label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group text-left">
                            <label asp-for="Input.Password">Clave</label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        

                        







                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Iniciar sesi&oacute;n</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>