@using Microsoft.AspNetCore.Http


<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - TeachMeNET</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#004e63">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400">
    <link rel="stylesheet" href="~/Css/Style.css" asp-append-version="true" type="text/css">
    <link rel="shortcut icon" href="logo.png" />



</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-default navbar-fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse container" id="navbarSupportedContent">

            <div class="navbar-header">
                <div class="navbar-brand">
                    <a asp-controller="Home" asp-action="Index">
                        <img alt="Logo TeachMe" src="~/Images/logo.png" />
                        <div class="teachapp">
                            TeachMe
                        </div>
                        <br>
                        <div class="slogan">
                            USIL
                        </div>
                    </a>
                </div>
            </div>
            <div class="text-center" style="margin: 0 auto!important; width: 1000px;">
                <form class="navbar-form navbar-search" role="search" id="navbar-search" style="padding: 0" method="get" asp-action="Busqueda" asp-controller="Home">
                    <div class="form-group" style="min-width: 100%;">
                        <span>
                            <input type="text" class="form-control subject-search-input" placeholder="¿Qué asignatura?">
                            <button type="submit" class="btn btn-default navbar-btn tutors" id="navbar-btn-search" style="margin-top: 0; margin-left: 1px; border-radius: 4px;    margin-bottom: 0;">Buscar</button>

                        </span>
                    </div>
                </form>
            </div>

            <div class="navbar-right">
                <ul class="navbar-nav mr-auto">
                    @{
                        if (ViewBag.Nombre == null)
                        {
                            <li class="nav-item active">
                                <div>
                                    <a asp-action="Registro" asp-controller="Usuario">Registrarse</a>
                                </div>
                            </li>

                            <li class="nav-item active">
                                <div>
                                    <a asp-action="Login" asp-controller="Usuario">Ingresa</a>
                                </div>
                            </li>

                            <li class="nav-item active">
                                <button type="button" class="btn btn-default navbar-btn navbar-right tutors  " onclick="">¿Deseas dar clases particulares?</button>
                            </li>
                        }
                        else
                        {
             
                            <li class="nav-item dropdown">
                                <div>
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="fa fa-user-circle fa-3x"></span>
                                    </a>
                                    <div class="dropdown-menu" style="background-color: #194258" aria-labelledby="navbarDropdown">
                                        
                                        <a class="dropdown-item" asp-action="PerfilAlumno" asp-controller="Usuario">Mi perfil como alumno</a>
                                        <a class="dropdown-item" asp-action="PerfilProfesor" asp-controller="Usuario">Mi perfil como profesor</a>
                                        <div class="dropdown-divider"></div>
                                        <div>
                                            <a class="dropdown-item" asp-action="Logout" asp-controller="Usuario">Logout</a>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </li>
                        }
                    }


                </ul>
            </div>
        </div>
    </nav>
    <div class="containter-fluid" style="min-height: 492px">
        @RenderBody()
    </div>
   

    <div class="footer ">
        <div class="container">
            <div class="col-md-12 no-margin no-padding">

                <div class="col-md-4 left">

                    <p class="company"><strong>TeachMe</strong>-USIL</p>

                    <p class="phone">997360822</p>
                    <p class="email">teachme@edu.pe</p>
                    <p class="follow">Designed by: Renzo H - Leonardo M - Wilder T</p>

                </div>

                <div class="col-md-4 middle">
                    <div class="buttons b20-3" style="margin-top: 30px;">
                        <a title="Descarga TeachMe para iOS en la App Store" href="" class="btn btn-default btn-download hvr-float-shadow">
                            <i class="fab fa-apple" aria-hidden="true"></i>
                            <span class="text">
                                <span class="little">Descarga la app </span>
                                <br>App Store
                            </span>
                        </a>
                        <a title="Descarga TeachMe para Android en Google Play" href="" class="btn btn-default btn-download hvr-float-shadow">
                            <i class="fab fa-android" aria-hidden="true"></i>
                            <span class="text">
                                <span class="little">Descarga la app </span>
                                <br>Google Play
                            </span>
                        </a>
                    </div>

                </div>
                <div class="col-md-4 right">                    
                    <a href=""><i class="follow-item fab fa-facebook-f"></i></a>
                    <a href=""><i class="follow-item fab fa-instagram"></i></a>
                    <a href=""><i class="follow-item fab fa-twitter"></i></a>
                    <a href=""><i class="follow-item fab fa-google-plus-g"></i></a>
                    <a href=""><i class="follow-item fab fa-youtube"></i></a>
                    <a href=""><i class="follow-item fab fa-pinterest"></i></a>                    
                </div>
            </div>
        </div>

    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script src="https://static.teachapp.es/webapp/assets/v2/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://static.teachapp.es/webapp/assets/v2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://static.teachapp.es/webapp/assets/v2/js/575935f2b489265bf2e356ece198364c.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Efecto para la búsqueda de curso al dar scroll  -->
    <script>
        (function () {
            ga('send', 'pageview', '/landing');


            $(window).scroll(function (event) {
                if (window.scrollY < 290) {
                    $("#navbar-search").hide();
                    $(".navbar-header").show();
                    $(".navbar-right").show();
                } else {
                    $("#navbar-search").show();
                    $(".navbar-header").hide();
                    $(".navbar-right").hide();
                }
            });

            $(document).on('data-attribute-changed', function (event, subject_id, group_id) {
                if (subject_id != undefined && group_id != undefined) {
                    $("#form-search").submit();
                }
            });


        })();

    </script>



    @RenderSection("Scripts", required: false)
</body>
</html>
